body, table, td {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: proxima-nova, sans-serif !important;
    font-size: 14px;
}

h1 {
    font-family: proxima-nova, sans-serif !important;
    margin:0 !important;
    line-height:22px !important;
    font-size:20px !important;
    font-weight:700 !important;
    color:#000 !important;
}
.datepicker-block {
    margin: 15px 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.datepicker {
    padding: 30px 50px 30px 50px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.dropdown-menu {
    font-size: 13px !important;
    color: #111 !important;
    background-color: #fff !important;
    border: 1px solid #eaeaea !important;
    border-radius: 0 !important;
    margin-top: 4px !important;
}

.datepicker th {
    font-size: 14px !important;
    height: 40px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.datepicker td {
    width: 30px !important;
    height: 30px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.datepicker table tr td.active.active {
    background-color: #222 !important;
    background-image: none !important;
    border: none !important;
}
.datepicker table tr td .active {
    background-color: #222 !important;
    background-image: none !important;
    border: none !important;
}

td {
    padding:0;
    margin:0;
    border:0;
}
.buttons-print{
    color: #fff !important;
    background: #28a745 !important;
    border-color: #28a745 !important;
}
/* @media print {
    .make-grid(print-A4);
}

.make-print-A4-column(@columns) {
    @media print {
        float: left;
        width: percentage((@columns / @grid-columns));
    }
} */

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{
    opacity: 0;
}
tr.child td.child table{
    width: 100%;
}
tr.child td.child{
    padding-left: 45px;
}
tr.child td.child table tr td:first-child{
    width: 180px;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child{
    background: black;
    color: white;
}
/* Css for print table goes under table.print-table class */
.print-table tr.innertable-row td.innertable-row{
    padding-left: 55px;
}
.print-table tr.innertable-row td.innertable-row .dataTable tr td:first-child{
    width: 180px;
}
/* Next previous button */


.button-block{
    padding-top: 45px;
}
.button-block .date-buttons {
    border-radius: 0 !important;
    background-color: #111;
    border-color: #f0f4f7;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
}
.button-block .date-buttons:hover {
     background-color: #333; 
     border-color: #fff;
}
.button-block .date-buttons .fa{
    color: #fff;
}
